.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), 
        url(https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&w=800);
    background-size: cover;
}

.loginTitle {
    font-size: 60px;
    margin-top: -100px;
}

.loginForm {
    margin-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.loginForm > label {
    margin: 10px 0px;
}

.loginInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.loginButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: rgb(252, 173, 173);
}

.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    padding: 10px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 10px;
}